<section class="info">
</section>
<section class="">
    <div class="cards-wrapper col-md-3" *ngFor="let task of tasks">
        <div class=" card-grid-space ">
            <div class="num ">{{task.taskId}}</div>
            <a class="card " style="--bg-img: url(https://st2.depositphotos.com/5142301/12276/v/950/depositphotos_122767946-stock-illustration-letter-h-logo-at-colorful.jpg) ">
                <div>
                    <h1>Day {{task.taskId}}</h1>
                    <p class="card-text ">{{task.taskName}}</p>
                    <div class="tags ">
                        <button class="btn btn-lg btn-outline-primary " (click)="open(mymodal) ">Open</button>


                        <ng-template #mymodal let-modal>
                            <div class="modal-header ">
                                <h4 class="modal-title " id="modal-basic-title ">{{task.taskName}}</h4>
                                <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
                                    <span aria-hidden="true ">×</span>
                                </button>
                            </div>
                            <div class="modal-body ">
                                {{task.taskDs}}
                            </div>
                            <div class="modal-footer ">
                                <button type="button " class="btn btn-outline-dark " (click)="modal.close( 'Save click') ">Ok</button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>