<section id="hero">
    <div class="hero container">
        <div>
            <h1>Welcome, <span></span></h1>
            <h1>To our Website<span></span></h1>
            <h1>{{user.firstName}} <span></span></h1>
            <a href="#services" type="button" class="cta">Get Started</a>
        </div>
    </div>
</section>
<!-- End Hero Section  -->

<!-- Service Section -->

<!-- Service Section -->
<section id="services">
    <div class="services container">
        <div class="service-top">
            <h1 class="section-title">Stra<span>te</span>gies</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum deleniti maiores pariatur assumenda quas magni et, doloribus quod voluptate quasi molestiae magnam officiis dolorum, dolor provident atque molestias voluptatum explicabo!</p>
        </div>
        <div class="service-bottom">
            <div class="service-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                <button *ngIf="user.count1!=0" routerLink="strategy1">Focus</button>
                <button *ngIf="user.count1==0" class="btn btn-lg btn-outline-primary " (click)="open(mymodal) ">Open</button>


                <ng-template #mymodal let-modal>
                    <div class="modal-header ">
                        <h4 class="modal-title " id="modal-basic-title ">Hey {{user.firstName}}</h4>
                        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
                            <span aria-hidden="true ">×</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        Do you want to Enroll in this course?
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-outline-dark " (click)="actionMethod1()">Yes</button>
                        <button type="button" class="btn btn-outline-dark ">No</button>

                    </div>
                </ng-template>

                <p>Does Ur brain go for a world tour every time,when it has to stay and concentrate in a particular aspect??then this can be a best fit for u to increase concentration and to put Ur mind stable mentel sanity for vital well being </p>
            </div>
            <div class="service-item ">
                <div class="icon "><img src="https://img.icons8.com/bubbles/100/000000/services.png " /></div>
                <button *ngIf="user.count2!=0" routerLink="strategy2">Self-Control</button>{{user.count2}}

                <p>Does your behaviour and emotions remembers you of puppetry.where you are being puppet in the hands of external person and ever wanted to be a free bird???..try this course to be a star of your own galaxy
                </p>
            </div>
            <div class="service-item ">
                <div class="icon "><img src="https://img.icons8.com/bubbles/100/000000/services.png " /></div>
                <button routerLink="strategy3">Stress Relief</button>{{user.count3}}
                <p>Are you a kind of person who gets exhausted so quick??do you find yourself as an article under jolt squeeze molding machine all the time??..And wanted to get ease with urself then join this course</p>
            </div>
            <div class="service-item ">
                <div class="icon "><img src="https://img.icons8.com/bubbles/100/000000/services.png " /></div>
                <button routerLink="strategy3">Positivity</button>{{user.count4}}
                <p>Maths is always fun with positive integers,difficult arises with arrival of negative integers..why let negitivity spoil all goodness in us??join this course to embrace yourself with positive attitude towards life.</p>
            </div>
        </div>

    </div>
</section>
<!-- End Service Section -->

<!-- Projects Section -->

<!-- End Projects Section -->

<!-- About Section -->
<section id="about">
    <div class="about container">
        <div class="col-left">
            <div class="about-img">
                <img src="/assets/images/imgn-2.png" alt="img">
            </div>
        </div>
        <div class="col-right">
            <h1 class="section-title">About <span>US</span></h1>
            <h2>Happify</h2>
            <p>“Give your stress wings and let it fly away.” —Terri Guillemets Wondering how to give wings to your stress... Being physically fit can help Us live long..what about mental fitness to succeed long way?? Happify..solution for all your mental
                imbalance.. A perfect nutritionist to maintain perfect mental balance ... A gym coach can constantly minister your progress rate and to provide solution to your mental illness... Embark to destine for a happy and serine life.. beatify
                your soul and life with happify...join now</p>
            <a href="#" class="cta">Know More</a>
        </div>
    </div>
</section>
<!-- End About Section -->
<div class="form1">
    <form #contentForm="ngForm" (ngSubmit)="comment()">
        <div style="padding-bottom: 15px;" class="form-class" [class.has-error]="postContent.invalid && postContent.touched">
            <span class="control-label"></span>
            <input id="postContent" required class="form-control" placeholder="content to be posted" name="postContent" [(ngModel)]="blog.postContent" #postContent="ngModel">
            <span class="help-block" *ngIf="postContent.invalid && postContent.touched">
                postContent is required
            </span>
        </div>
        <span><button class="btn btn-primary" [disabled]="!contentForm.valid">Post</button>
        </span>

    </form>
</div>

<div *ngFor="let b of blogs;let i =index">
    <div *ngIf="i==blogs.length -3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">{{b.postId}}</h5>
                <p class="card-text">
                    {{b.postContent}}
                </p>
            </div>
        </div>
    </div>
    <div *ngIf="i==blogs.length -2">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">{{b.postId}}</h5>
                <p class="card-text">
                    {{b.postContent}}
                </p>
            </div>
        </div>
    </div>
    <div *ngIf="i==blogs.length -1">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">{{b.postId}}</h5>
                <p class="card-text">
                    {{b.postContent}}
                </p>
            </div>
        </div>
    </div>
</div>
<section id="contact">
    <div class="contact container">
        <div>
            <h1 class="section-title"><span>Testimonials </span></h1>
        </div>
        <div class="contact-items">
            <div *ngFor="let b of blogs;let i =index">
                <div *ngIf="i>=blogs.length -3">
                    <div class="contact-item">
                        <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
                        <div class="contact-info">
                            <h1>Address</h1>
                            <h2>{{b.postContent}}</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--display of rieview-->

<!-- Contact Section -->
<section id="contact">
    <div class="contact container">
        <div>
            <h1 class="section-title">Contact <span>info</span></h1>
        </div>
        <div class="contact-items">
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                <div class="contact-info">
                    <h1>Phone</h1>
                    <h2>9876543210</h2>
                    <h2>9123456780</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
                <div class="contact-info">
                    <h1>Email</h1>
                    <h2>info@happify.com</h2>
                    <h2>happify@gmail.com</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
                <div class="contact-info">
                    <h1>Address</h1>
                    <h2>Bhimavaram,Andra Pradesh ,India</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->

<!-- Footer -->
<section id="footer">
    <div class="footer container">
        <div class="brand">
            <h1><span>H</span>appify <span>W</span>ebsite</h1>
        </div>
        <h2>Your Complete Web Solution</h2>
        <div class="social-icon">
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
            </div>
        </div>
        <p>Copyright © 2020 Happify. All rights reserved</p>
    </div>
</section>